body{
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat" , "Avenir";
}

.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.6%;
  border-radius: 15%;
  transition: background 0.6s;
  /*browser support*/
  --webkit-transition: background 0.6s;
  --moz-transition: background 0.6s;
}

#container{
  max-width: 600px;
  margin: 20px auto;
}

#stripe{
  background: white;
  height: 30px;
  text-align: center;
  text-color: black;
}

h1{
  color: white;
  text-align: center;
  line-height: 1.1;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

.selected{
  color: white;
  background: steelblue;
}

#colorDisplay{
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  /*browser support*/
  --webkit-transition: all 0.3s;
  --moz-transition: all 0.3s;
}

button:hover {
  color: white;
  background: steelblue;
}
